body
{
    background-image: url(https://www.publicdomainpictures.net/pictures/160000/velka/disque-vinyl-fond-noir.jpg);
    color: white;
    font-weight: bold;
}



h1
{
    color: black;
    background: lightgrey;
    opacity: initial;
    margin: 10px;
    text-align: center;

}


table
{
    background: lightgray;
    border-color: black;
}

p {
    color: darkolivegreen;
}

.comment
{
    color: black;
}

.date {
    color: black;
}

app_register
{
    margin: 10px;
}